#create{
    background-color: #1b91bd;
    color: white;
}
#create:hover{
    background-color: #35365d;
}

#Actions{
    background-color: #1b91bd;;
    color: white;
}
#Actions:hover{
    background-color: #35365d;
}


#close{
    background-color: #f15c6e; 
    color: white;
}
#close:hover{
    background-color: #85313b;    
}

#save{
    background-color: #0dd354; 
    color: white;
}
#save:hover{
    background-color: #60e290;
}